* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-image: linear-gradient(120deg, #1a2d42, #aab7b7 ,#d4d8dd);
    color: white;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(130deg,#d4d8dd, #aab7b7 ,#1a2d42);
    box-shadow: 0 8px 32px 0 #1a2d42;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    z-index: 100;
}

.logo {
    color: #1a2d42;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.4rem;
}

.logo-span {
    background: #1a2d42;
    color: #d4d8dd;
    padding: 5px 6px;
    border-radius: 8px;
}

ul.nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 10px;
    list-style: none;
    gap: 20px;
}

li.nav-link a {
    padding: 8px 12px;
    font-size: 20px;
    text-decoration: none;
    color: #d4d8dd;
    transition: all 0.5s;
    border-radius: 10px;
}

li.nav-link a:hover {
    color: #1a2d42;
    background: #aab7b7;
    border-radius: 10px;
}

/* SECTION HOME */
.custom-hero {
    background: #1a2d42;
    border-radius: 10px;
    margin-top: 40px;
    padding: 10px 25px;
    box-shadow: 0 8px 32px 0 #1a2d42;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

h1.hero-title {
    font-size: 2.5rem;
    color: #d4d8dd;
    margin-bottom: 20px;
}

img.logo-track {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.element-content {
    margin: 40px 0;
    background: #1a2d42;
    border-radius: 10px;
    padding: 15px 0;
}

.list-element {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.card-body {
    background: linear-gradient(120deg, #d4d8dd, #1a2d42);
    text-align: center !important;
    padding: 15px 40px;
    border-radius: 10px;
}

.card-body i {
    font-size: 2.5rem; 
    color: #d4d8dd;
}

.alert {
    background: linear-gradient(120deg, #1a2d42, #d4d8dd);
    box-shadow: 0 8px 32px 0 #1a2d42;
    margin: 40px 0;
    padding: 30px 25px;
    border-radius: 10px;
    color: #d4d8dd;
}

footer {
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(130deg,#d4d8dd, #aab7b7 ,#1a2d42);
    box-shadow: 0 8px 32px 0 #1a2d42;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.developpeur p {
    color: #1a2d42;
    font-size: 16px;
    font-weight: 600;
}

.social-link a {
    text-decoration: none;
    margin: 5px;
}

.social-link a i {
    background: #d4d8dd;
    color: #1a2d42;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
}
